<section class="main-input">
    <input type="text" [(ngModel)]="currentValue" placeholder="Nueva tarea ...">
    <button (click)="addTarea()">Crear</button>
</section>

<p class="no-tareas" *ngIf="tareas.length == 0">No hay tareas</p>

<section *ngIf="tareas.length > 0" class="tareas-sect">
    <article *ngFor="let tarea of tareas" class="tarea">
        <img style="cursor: pointer;" width="20" (click)="updateTarea(tarea)"
            src="../../../assets/img/{{tarea.estado == false ? 'circle' : 'check'}}.png" alt="">
        <p>{{tarea.descripcion}}</p>
        <span (click)="deleteTarea(tarea)" style="cursor: pointer;">🗑️</span>
    </article>
</section>